<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="vendor/css/bootstrap.css" />
  <link rel="stylesheet" href="vendor/css/angular-datepicker.css" />

</head>
<body ng-app="app">
<div ui-view></div>

<script src="../vendor/js/moment.js"></script>
<script src="../vendor/js/angular.js"></script>
<script src="../vendor/js/angular-ui-router.js"></script>
<script src="../vendor/js/angular-datepicker.js"></script>
<script src="../javascripts/test.js"></script>
</body>
</html>